body {
background-image : url('https://cdn.jsdelivr.net/gh/huggcloud/www@4/background.png')
; background-size : cover
; background-position : center
; background-attachment : fixed
; background-repeat : no-repeat

; font-family : 'Tajawal' , sans-serif
; font-size : 14px
; font-weight : 400

; color : rgba(
255
, 255
, 255

, 0.984375
)
}


h1 {
font-family : 'Montserrat' , sans-serif
; font-size : 56px
}

h2 {font-size : 42px}
h3 {font-size : 28px}

h1 , h2 , h3 {
font-weight : 300
; margin : 0
; display : inline
}


a {text-decoration-style : dotted}
ion-icon {display : inline-block}

::selection {
color : rgba(
255
, 255
, 255

, 1
)

; background : rgba(
255
, 255
, 255

, 0.15625
)
}


@media (min-width : 640px) {}
@media (min-width : 1280px) {}
